.container {
    background: #9BFD7E;
    max-width: 967px;
    margin: auto;
    height: 588px;
    /* padding: 0px 32px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.header {
    background: #fff;
    grid-column: 1 / 8;
    grid-row: 1;
    height: 38px;
    /* width: 967px; */
    /* padding-left: 32px;
    padding-right: 32px; */
}

.section {
    background: #fff;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    /* width: 208px; */
    /* height: 230px; */
    border-radius: 4px;
}

.content {
    background: #fff;
    grid-column: 3 / 6;
    grid-row: 2 / 6;
    /* width: 528px; */
    /* height: 720px; */
    border-radius: 4px;
}

.overseers {
    background: #fff;
    grid-column: 6 / 8;
    grid-row: 2 / 4;
    /* height: 248px; */
    border-radius: 4px;
}